*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.btn:hover{
    background-color: #28a75f;
    cursor: pointer;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
}
nav{
    padding: 16px 120px 16px 120px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    height: 91px;
}
.logo img{
    width: 139px;
    height: 60px;
}
.nav-content{
    display: flex;
    gap: 32px;
    font-size: 16px;
    align-items: center;
    margin: 34px 346px 34px 346px;
}
.nav-content li{
    list-style: none;
    gap: 32px;
}

#banner{
    background-image: url("../resources/B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
}
#banner .banner-content{
   padding: 115px 120px 263px 120px;
   justify-content: center;
   align-items: center;

}
#banner .banner-content .h1-1{
    margin: 51px 295px 0 295px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
#banner .banner-content .h1-2{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #30B868;
}
#banner .banner-content p{
    margin: 24px 246px 40px 246px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    line-height: 38px;
}
#banner .banner-content .button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}