*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style*/

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.btn:hover{
    background-color: #28a75f;
    cursor: pointer;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/*main style*/

header{
    background-color: #FFFFFF;
}
nav{
    width: 100%;
    height: 75px;
    padding: 0px 120px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #FFFFFF;
}
.logo img{
    height: 55px;
}
.nav-content{
    display: flex;
    gap: 50px;
    font-size: 16px;
    align-items: center;
}
.nav-content li{
    list-style: none;
}

#banner{
    background-image: url("../resources/B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 674px;
    padding: 115px 120px 179px 120px;
}
#banner .banner-content{
   margin: 0 auto;
   justify-content: center;
   align-items: center;

}
#banner .banner-content .btn-new{
    padding: 8px 12px 8px 34px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    align-items: center;
    display: flex;
}
#banner .banner-content .h1-1{
    margin-top: 16px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
#banner .banner-content .h1-2{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #30B868;
}
#banner .banner-content p{
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    line-height: 38px;
    margin-top: 16px;
    margin-bottom: 32px;
}
#banner .banner-content .button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#main-part-1{
    padding: 120px 120px 0 120px;
}
#main-part-1 .main1-content{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main1-content .main1-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}
.main1-content .main1-text p{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.main1-content .main1-card-box{
    margin-top: 44px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.main1-card-box .main1-card{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000002c;
}
.main1-card-box .main1-card img{
    max-width: 60px;
    margin-bottom: 16px;
}
.main1-card-box .main1-card h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.main1-card-box .main1-card p{
    margin-top: 16px;
    font-size: 12px;
    color: #627382;
    line-height: 20px;
}

.main-part-2{
    padding: 120px;
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.main-part-2 img{
    height: 600px;
}
.text-box{
    margin: 102px 0 102px 60px;
    max-width: 700px;
    height: 396px;
}
.text-box .title{
    font-size: 16px;
    font-weight: 400;
    color: #30B868;
}
.text-box h1{
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.text-box p{
    font-size: 12px;
    color: #627382;
    margin: 20px 0 40px 0;
}
.text-box span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.text-box span img{
    height: 20px;
}

.main-part-3{
    width: 100%;
    height: 500px;
    padding: 0 120px 120px 120px;
}
.main-part-3-box{
    width: 95%;
    height: 380px;
    margin: 0 auto;
    background-color:#f7f6f2 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-part-3-box h1{
    font-size: 40px;
}
.main-part-3-box p{
    font-size: 16px;
    font-weight: 350;
    color: #627382;
    text-align: center;
    line-height: 25px;
}